body {
    font-family: 'Teachers', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d8e1e8;
    color: #333;
}

header {
    background-color: #304674;
    color: white;
    text-align: center;
    padding: 1em 0;
    font-size: 1.5rem; /* 24px */

}

nav {
    background: #022954;
    color: white;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    font-size: 1.5rem; /* 24px */
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px 0;
}

.job, .project {
    background: #98bad5;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input, form textarea {
    margin-top: 5px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form button {
    margin-top: 10px;
    padding: 10px;
    background: #304674;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background: #304674;
}

footer {
    text-align: center;
    padding: 1em 0;
    background: #333;
    color: white;
}
